*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/android/app/src/main/java/com/erikterwiel/mountainviews/Constants.java
android/app/src/main/java/com/erikterwiel/mountainviews/Constants.java

