*.iml
.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
.DS_Store
/android/build
/android/captures
.externalNativeBuild
/android/app/src/main/java/com/erikterwiel/mountainviews/Constants.java
android/app/src/main/java/com/erikterwiel/mountainviews/Constants.java
android/build/android-profile
/web/LightsailDefaultPrivateKey-us-east-2.pem
web/LightsailDefaultPrivateKey-us-east-2.pem    
