body {
    background-color: silver;
}

.navbar{
    background-color: #0CA948;
}
.nav-item .nav-link {
    color: white;
    font-size: 20px;
}



.nav-item .nav-link:hover {
    opacity: 0.8;
}

.feedtitle{
    font-size: 30px;
    margin-left: 2%;
    margin-top: 2%;
}



