body,html {
    height: 100%;
    width: 100%;
    padding: 0 1% 1%;
}

.navbar-brand:hover{
    opacity: 0.7;
}

#starboy{
    display: none;
}

.navbar{
    background-color: rgb(21, 22, 21);
}
.nav-item .nav-link {
    color: white;
    font-size: 20px;
}

footer {
    text-align: right;
    bottom: 2px;
    right: 3px;
}

.navtitle{
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.nav-item .nav-link:hover {
    opacity: 0.8;
}

.btn{
    background-color:#0CA948;
    margin-top:1.5%;
    color:white;
}
.btn:hover{
    cursor: pointer;
}

.title{
    color:white;
    font-size:1.3em;
}
.title:hover{
    color:white;
    opacity:0.7;
    text-decoration: none;
}

.breadcrumb {
    font-size: 20px;
}

.breadcrumb-crumb {   
    color: black;
    padding: .5em;
    margin: 0;
}
.breadcrumb-crumb:hover{
    text-decoration: none;
    opacity: 0.7;
    color: black;
}

.form-group {
    padding: .5em;
    margin: 0;
}

.posts_main{
    margin:1%;
}
.posts{
    padding:1%;
    background-color:#e8eaee;
    margin-bottom:1%;
}
#post{
    background-color:black;
}

/* light green #0ca948
dark green #2e7d32
pink #ff4081
grey #e8eaee */